body, html{
  height: 100%;
}
.form-sidebar{
  width: 30%;
  float: left;
  height: 100px;
  display: block;
  height: 100%;
  height: 100vh;
  display: none;
}
.form-conainer{
  width: 80%;
  margin: 0 auto;
}
.header__logo{
  text-align: center;
      margin: 0 auto;
}
