.header__logo {
  max-width: 300px;
  margin: 0;
}

.header__logo > a {
  text-indent: 200%;
  white-space: nowrap;
  overflow: hidden;
  background: url("../images/logo.svg") no-repeat 0 center;
  background-size: contain;
  display: block;
  width: 100%;
  max-width: 300px;
  height: 35px;
}
