@mixin bottom-shadow($width, $left){
  &:after{
    content: "";
    width: $width;
    height: 20px;
    position: absolute;
    top: 85%;
    left: $left;

    border-radius: 50%;
    background: rgba(0,0,0,0.4);
    -webkit-filter: blur(10px);
    filter: blur(10px);

    z-index: -1;
  }
}
@mixin rotated-card($rotation){
  padding-bottom: 100px;
  img{
    -ms-transform: rotate($rotation); /* IE 9 */
    -webkit-transform: rotate($rotation); /* Chrome, Safari, Opera */
    transform: rotate($rotation);
  }
  @include bottom-shadow(100%, 5%);
}

$breakpoints: (
    "phone":        400px,
    "phone-wide":   480px,
    "phablet":      560px,
    "tablet-small": 640px,
    "tablet":       768px,
    "tablet-wide":  1024px,
    "desktop":      1248px,
    "desktop-wide": 1440px
);

@mixin mq($width, $type: min) {
    @if map_has_key($breakpoints, $width) {
        $width: map_get($breakpoints, $width);
        @if $type == max {
            $width: $width - 1px;
        }
        @media only screen and (#{$type}-width: $width) {
            @content;
        }
    }
}

@mixin contentfulbg($url){
  background-image: url($url + "?w=400");
  @include mq("phone"){
    background-image: url($url + "?w=480");
  }


  @include mq("tablet-small"){
    background-image: url($url + "?w=768");
  }
  @include mq("tablet"){
    background-image: url($url + "?w=1024");
  }
  @include mq("tablet-wide"){
    background-image: url($url + "?w=1100");
  }
  @include mq("desktop"){
    background-image: url($url + "?w=2000");
  }
  @include mq("desktop-wide"){
    background-image: url($url + "?w=2560");
  }
}
