@mixin bottom-shadow($width, $left){
  &:after{
    content: "";
    width: $width;
    height: 20px;
    position: absolute;
    bottom: 0;
    left: $left;

    border-radius: 50%;
    background: rgba(0,0,0,0.4);
    -webkit-filter: blur(10px);
    filter: blur(10px);
  }
}
@mixin rotated-card($rotation){
  padding-bottom: 100px;
  img{
    -ms-transform: rotate($rotation); /* IE 9 */
    -webkit-transform: rotate($rotation); /* Chrome, Safari, Opera */
    transform: rotate($rotation);
  }
  @include bottom-shadow(100%, 5%);
}
