body {
  position: relative;
}
.offcanvas {
  position: absolute;
  right: 100%;
  transition: right .5s ease;
  width: 70%;
  background: rgba(152, 135, 126, .95);
  height: 100vh;
  box-sizing: border-box;
  padding: 40px 0;
  z-index: 3;

  &.shown {
    right: 30%;
    box-shadow: 3px 1px 14px 2px rgba(0,0,0,0.41);
  }

  ul {
    padding: 0;
    list-style: none;
  }

  li {
      display: block;
  }

  a {
    display: block;
    color: $blanco;
    font-size: 14px;
    padding: 12px 30px;
    text-decoration: none;
  }
}

.hamburger-container {
  transition: left .5s ease;
  position: absolute;
  left: 0px;
  z-index: 4;
}

.logo {
  @include grid-push(2);
}

.hamburger-container.open {
  left: 50%;
}
