//colors
$dorado: #8F715B;
$dorado-links: #7C5E49;
$azul: #0071BC;
$azul-oscuro: #49566A;
$gris-claro: #F1F1F1;
$gris-claro-2: #f4f4f4;
$gris-bordes: #dcdcdc;
$gris-oscuro: #6D6E71;
$rojo: #E60000;
$rojo2: #F45354;
//screen sizes
$mobile: 480px;
