//colors
$dorado: #8f715b;
$dorado-links: #7c5e49;
$azul: #0071bc;
$azul-oscuro: #49566a;
$gris-claro: #f1f1f1;
$gris-claro-2: #f4f4f4;
$gris-bordes: #dcdcdc;
$gris-oscuro: #6d6e71;
$gris-mas-oscuro: #4a4a4a;
$rojo: #e60000;
$rojo2: #f45354;
//Social
$facebook: #3A5795;
$twitter: #51A5E4;
$youtube: #CC181E;

//screen sizes
$mobile: 480px;
$blanco: #fff;


//other
$shadow-color: rgba(0, 0, 0, .5);

//fonts:
$trebuschet: 'Trebuchet MS','Lucida Grande','Lucida Sans','Tahoma','sans-serif';
