@import 'normalize';
body{
  padding: 40px;
}

h1{
  font-size: 2em;
  margin-bottom: 1em;
}


table {
    display: table;
    border-collapse: collapse;
    border-spacing: 2px;
    border:1px solid #ddd;
    width: 100%;
}

thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit
}

tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit
}

tfoot {
    display: table-footer-group;
    vertical-align: middle;
    border-color: inherit
}

table > tr {
    vertical-align: middle;
}

col {
    display: table-column
}

colgroup {
    display: table-column-group
}

tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit
}

td, th {
    display: table-cell;
    vertical-align: inherit;
    border: solid 1px #ddd;
    padding: 15px;
}

th {
    font-weight: bold;
    text-align: left;
}

caption {
    display: table-caption;
    text-align: -webkit-center
}
ul{
  padding-left: 20px;
}
.text-center{
  text-align: center
}
.inline-list{
  margin: 0;
  padding: 0;
  li{
    display: inline-block;
    &:before{
      content: " | ";
    }
    &:first-child:before{
      content: "";
    }
  }
}
.lista-de-imagenes-de-tarjeta{
  list-style: none;
  li{
    line-height: 38px;
  }
  img{
    margin-bottom: -0.75em;
  }
}
th{
  img{
    float: right;
    margin: 0;
  }
}
#beneficios-table{
  th{
    font-size: 0.8em;
    text-align: center;
    &:first-child{
      text-align: left;
      font-size:  1.2em;
    }
    img{
      float: none;
      text-align: center;
      display: block;
      margin: 0 auto 10px auto;
      clear: both;
    }
  }
}
