@import 'normalize';

$gris-claro: #ddd;

body {
  padding: 40px;
  position: relative;
}

h1 {
  display: inline-block;
  font-size: 2em;
  margin-bottom: 1em;
}


table {
  border: 1px solid $gris-claro;
  border-collapse: collapse;
  border-spacing: 2px;
  display: table;
  table-layout: fixed;
  width: 100%;

  tr {
    vertical-align: middle;
  }
}

thead {
  border-color: inherit;
  display: table-header-group;
  vertical-align: middle;

  tr {
    display: table-row;
    position: relative;
    }
}

tbody {
  border-color: inherit;
  display: table-row-group;
  height: 1vh;
  vertical-align: middle;
  overflow: auto;
  width: 100%;

  tr:nth-child(even) {
    background-color: #f1f1f1;
  }
  
  td:last-child {
    vertical-align: top;
  }
}

tfoot {
  border-color: inherit;
  display: table-footer-group;
  vertical-align: middle;
}

col {
  display: table-column;
}

colgroup {
  display: table-column-group;
}

tr {
  border-color: inherit;
  display: table-row;
  vertical-align: inherit;
}

td {
  border: solid 1px $gris-claro;
  display: table-cell;
  padding: 15px;
  vertical-align: inherit;
}

th {
  border: solid 1px $gris-claro;
  display: table-cell;
  font-weight: bold;
  padding: 15px;
  text-align: left;
  vertical-align: inherit;
}

caption {
  display: table-caption;
  text-align: -webkit-center;
}

ul {
  padding-left: 20px;
}

.text-center {
  text-align: center;
}

.inline-list {
  margin: 0;
  padding: 0;

  li {
    display: inline-block;

    &::before {
      content: ' | ';
    }

    &:first-child::before {
      content: '';
    }
  }
}

.lista-de-imagenes-de-tarjeta {
  list-style: none;

  li {
    line-height: 38px;
  }

  img {
    margin-bottom: -.75em;
  }
}

th {
  img {
    float: right;
    margin: 0;
  }
}

#beneficios-table {

  th {
    font-size: .8em;
    text-align: center;

    &:first-child {
      font-size: 1.2em;
      text-align: left;
    }

    img {
      clear: both;
      display: block;
      float: none;
      margin: 0 auto 10px;
      text-align: center;
    }
  }
}

#cambios-container{
  background: #f1f1f1;
  border: solid 1px #ddd;
  -webkit-box-shadow: 3px 3px 3px -2px rgba(0,0,0,0.75);
  -moz-box-shadow: 3px 3px 3px -2px rgba(0,0,0,0.75);
  box-shadow: 3px 3px 3px -2px rgba(0,0,0,0.75);
  box-sizing: border-box;
  position: fixed;
  top: 0;
  right: -500px;
  padding: 30px;
  transition: right .5s;
  -webkit-transition: right .5s;
  width: 500px;

  label {
    display: block;
    font-weight: bold;
  }

  textarea {
    font-size: 14px;
    height: 100px;
    line-height: 18px;
    outline: none;
    overflow: auto;
    padding: 5px;
    width: 100%;
  }

  .textarea {
    margin-bottom: 20px;
  }

  input[type=submit] {
    background: blue;
    border: 0;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    margin: 20px 0;
    padding: 8px 16px;

    &:hover {
      background: darken(blue, 10%);
    }
  }

  small {
    color: #f00;
  }

  #cambios-btn {
    background: green;
    border: 0;
    color: #fff;
    display: inline-block;
    padding: 8px 16px;
    position: absolute;
    right: 100%;
    text-align: center;
    text-decoration: none;
    top: -1px;
    width: 200px;
  }

  #ocultar-btn {
    color: #666;
    display: inline-block;
    float: right;
    font-size: 13px;
    text-decoration: none;

    &:hover {
      color: #000;
    }
  }

  p{
    margin: 5px 0;
  }

  .half {
    float: left;
    width: 50%;
  }

  span.help-block {
    color: #f00;
    display: block;
    font-size: 13px;
    margin-top: 5px;
  }
}

.index-link {
  background: gray;
  border-radius: 8px;
  color: #fff;
  display: inline-block;
  font-size: 12px;
  padding: 4px 8px;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }

  &::before {
    content: '< ';
  }
}

.form-link {
  display: inline-block;
  margin-left: 20px;
}
