<div class="aeropost">
  <div class="wrapper">
    <div class="aeropost-square">
      <h3 class="titular">Todas nuestras tarjetas incluyen:</h3>

      <ul>
        <li>
          <img class="aeropost-icon" src="/images/cr-landing-alternativo-iconos-casillero1.svg" alt="Casillero gratuito"width="40" />Casillero gratuito
        </li>
        <li>
          <img class="aeropost-icon" src="/images/cr-landing-alternativo-iconos-entrega1.svg" alt="Entrega a domicilio" width="40" /> Entrega a domicilio
        </li>
        <li>
          <img class="aeropost-icon" src="/images/cr-landing-alternativo-iconos-devolucion1.svg" alt="Devolución gratuita" width="40" /> Devolución gratuita
        </li>
      </ul>

      <div class="aeropost-logo">
        con: <img src="/images/aeropost-logo-horizontal.jpg" alt="Aeropost" width="100px" />
      </div>
    </div>
  </div>
</div>
