<div class="filter-item" data-category="<%= item.alias %>" data-filter="<%= item.alias %>">
  <div class="filter-item-image-container">
    <%= image_tag item.icon, :width => "30" %>
  </div>
  <div class="filter-item-title-container">
    <%= item.title %>
  </div>
</div>
