<footer class="footer" role="footer">
  <h2><img src="/images/logo-BAC.png" alt="" /></h2>
  <!-- <nav>
    <% data.links.footer.each do |link| %>
      <li><a href="<%= link.url %>"><%= link.titulo %></a></li>
    <% end %>
  </nav> -->
  <p class="disclaimer">Todos los Derechos Reservados. <%= DateTime.now.year %> © BAC International Bank.</p>
</footer>
