<div class="card-row" data-category="<%= category %>">
  <ul>
  <%
  if defined? formato
    @formato =  formato
  else
    @formato = "none"
  end
  %>
  <% tarjetas.each do |tarjeta| %>
    <li><%= partial "partials/original/card", :locals => {tarjeta: tarjeta, formato: @formato} %></li>
  <% end %>
  </ul>
</div>
