<div class="card-row">
  <div class="title-line">
    <h2><%= titulo %></h2>
    <h3><%= subtitulo %></h3>
  </div>
  <ul>
  <%
  if defined? formato
    @formato =  formato
  else
    @formato = "none"
  end
  %>
  <% tarjetas.each do |tarjeta| %>
    <li><%= partial "partials/original/card", :locals => {tarjeta: tarjeta, formato: @formato} %></li>
  <% end %>
  </ul>
</div>
