<div class="card-row" data-category="<%= category %>">
  <% content_tag :h2 do titulo end if defined? titulo %>
  <ul>
    <% tarjetas.each do |tarjeta| %>
      <li><%= partial "partials/original/card", :locals => {tarjeta: tarjeta, formato: "ingreso-minimo"} %></li>
    <% end %>
  </ul>
</div>
