<footer>
  <div class="first-column">
    <h4>Nuestras Áreas</h4>
    <ul>
      <li><a href="https://www.baccredomatic.com/es-cr/banca-personas">Personas</a></li>
      <li><a href="https://www.baccredomatic.com/es-cr/tarjetas/credito">Tarjetas de crédito</a></li>
      <li><a href="https://www.baccredomatic.com/es-cr/pymes">Pymes</a></li>
      <li><a href="https://www.baccredomatic.com/es-cr/comercios-afiliados">Afiliados</a></li>
      <li><a href="https://www.baccredomatic.com/es-cr/corporaciones-e-instituciones">Corporaciones</a></li>
      <li><a href="https://www.baccredomatic.com/es-cr/sitemap.xml">Mapa del sitio</a></li>
    </ul>
  </div>
  <div class="second-column">
    <h4>ACERCA DE BAC | CREDOMATIC</h4>
    <ul>
      <li><a href="https://www.baccredomatic.com/es-cr/nuestra-empresa/historia">NUESTRA HISTORIA</a></li>
      <li><a href="https://www.baccredomatic.com/es-cr/nuestra-empresa/mision-vision-y-valores">MISIÓN, VISIÓN Y VALORES</a></li>
      <li><a href="https://www.baccredomatic.com/es-cr/nuestra-empresa/responsabilidad-social-corporativa">RESPONSABILIDAD SOCIAL</a></li>
      <li><a href="https://www.baccredomatic.com/es-cr/nuestra-empresa/trabaje-con-nosotros-0">TRABAJE CON NOSOTROS</a></li>
    </ul>
  </div>
  <div class="third-column">
    <h4>APLICACIONES PARA MÓVILES</h4>
    <ul class="footer-mobile-channels">
      <li>
        <a href="https://www.sucursalmovil.com/secm/index.go"><i class="fa fa-mobile"></i><p>Sucursal Móvil</p></a>
      </li>
      <li>
        <a href="/es-cr/www.baccredomatic.com"><i class="fa fa-phone"></i><p>bac contacto</p></a>
      </li>
      <li>
        <a href="https://itunes.apple.com/cr/app/ibac/id465508552?mt=8"><figure class="footer-img-mobilelogo"><img src="/sites/all/themes/custom/foundation_bac/images/appstore.png" alt="appstore"><figcaption>iBac</figcaption></figure></a>
      </li>
      <li>
        <a href="https://play.google.com/store/apps/details?id=net.bac.sbe.android"><figure class="footer-img-mobilelogo"><img src="/sites/all/themes/custom/foundation_bac/images/googleplay.png" alt="playstore"><figcaption>Banca Móvil</figcaption></figure></a>
      </li>
    </ul>
  </div>
  <div class="follow-us">
    <h3 class="footer-list-head">SÍGANOS</h3>
    <ul class="footer-sociallinks">
      <li>
        <a href="https://www.facebook.com/somosbac/?fref=ts"><i class="fa fa-facebook"></i></a>
      </li>
      <li>
        <a href="https://twitter.com/SomosBac"><i class="fa fa-twitter"></i></a>
      </li>
      <li>
        <a href="https://www.youtube.com/user/baccredomaticnetwork"><i class="fa fa-youtube"></i></a>
      </li>
    </ul>
  </div>
</footer>
