<div class="footer-content">
      <footer class="footer-content-row" role="contentinfo">
        <!-- Desktop -->
        <div class="footer-desktop show-for-medium-up">

<div class="footer-column">
  <h3 class="footer-list-head">Nuestras Áreas<i class="right fa fa-angle-down show-for-small-only"></i></h3>
  <ul class="footer-list">
    <li><a href="https://www.baccredomatic.com/es-cr/banca-personas">Personas</a></li><li><a href="https://www.baccredomatic.com/es-cr/tarjetas/credito" class="active">Tarjetas de Crédito</a></li><li><a href="https://www.baccredomatic.com/es-cr/pymes">PYMES</a></li><li><a href="https://www.baccredomatic.com/es-cr/comercios-afiliados">Afiliados</a></li><li><a href="https://www.baccredomatic.com/es-cr/corporaciones-e-instituciones">Corporaciones </a></li><li><a href="https://www.baccredomatic.com/es-cr/sitemap.xml">Mapa del Sitio</a></li>  </ul>
</div>

<div class="footer-column">
  <h3 class="footer-list-head">Acerca de BAC | CREDOMATIC<i class="right fa fa-angle-down show-for-small-only"></i></h3>
  <ul class="footer-list">
    <li><a href="https://www.baccredomatic.com/es-cr/nuestra-empresa/historia">Nuestra Historia</a></li><li><a href="https://www.baccredomatic.com/es-cr/nuestra-empresa/mision-vision-y-valores">Misión, Visión y Valores</a></li><li><a href="https://www.baccredomatic.com/es-cr/nuestra-empresa/responsabilidad-social-corporativa">Responsabilidad Social</a></li><li><a href="https://www.baccredomatic.com/es-cr/nuestra-empresa/trabaje-con-nosotros-0">Trabaje con nosotros</a></li>  </ul>
</div>

 <div class="footer-column">
  <h3 class="footer-list-head"> Aplicaciones para Móviles<i class="right fa fa-angle-down show-for-small-only"></i></h3>
  <ul class="footer-mobile-channels">
    <li><a href="https://www.sucursalmovil.com/secm/index.go"><i class="fa fa-mobile"></i><p>Sucursal Móvil</p></a></li><li><a href="https://itunes.apple.com/cr/developer/bac-credomatic-network/id465180283"><i class="fa fa-phone"></i><p>bac contacto</p></a></li><li><a href="https://itunes.apple.com/cr/app/ibac/id465508552?mt=8"><figure class="footer-img-mobilelogo"><img src="/sites/all/themes/custom/foundation_bac/images/appstore.png" alt="appstore"><figcaption>iBac</figcaption></figure></a></li><li><a href="https://play.google.com/store/apps/details?id=net.bac.sbe.android"><figure class="footer-img-mobilelogo"><img src="/sites/all/themes/custom/foundation_bac/images/googleplay.png" alt="playstore"><figcaption>Banca Móvil</figcaption></figure></a></li>  </ul>
</div>

 <div class="footer-column">
  <div class="follow-us">
    <h3 class="footer-list-head"> SÍGANOS</h3>
    <ul class="footer-sociallinks">
      <li><a href="https://www.facebook.com/somosbac/?fref=ts"><i class="fa fa-facebook"></i></a></li><li><a href="https://twitter.com/SomosBac"><i class="fa fa-twitter"></i></a></li><li><a href="https://www.youtube.com/user/baccredomaticnetwork"><i class="fa fa-youtube"></i></a></li>    </ul>
  </div>
</div>
                                <div class="footer-legals">

<div class="small-12 large-4 columns footer-legals-section">
  <ul class="footer-legalslinks">
    <li><a href="https://www.baccredomatic.com/es-cr/form/4721">Quejas y sugerencias</a></li><li><a href="https://www.baccredomatic.com/es-cr/uso-de-cookies">Cookies</a></li><li><a href="https://www.baccredomatic.com/es-cr/seguridad-en-nuestro-sitio">Seguridad</a></li><li><a href="https://www.baccredomatic.com/es-cr/politica-de-privacidad">Política de privacidad</a></li><li><a href="https://www.baccredomatic.com/es-cr/condiciones-y-terminos-de-uso">Términos y condiciones</a></li>  </ul>
</div>

<div class="small-12 large-8 columns footer-legals-section">
  <span class="footer-legals-legend">
    Todos los derechos reservados. &nbsp;2017 © BAC International Bank  </span>
</div>
            </div>
                  </div>
        <!-- End desktop -->
        <!-- footer mobile -->
        <div class="footer-mobile show-for-small-only">
          <ul class="accordion" data-accordion="">
                          <li class="accordion-navigation">


<div class="footer-column">
  <h3 class="footer-list-head">Nuestras Áreas<i class="right fa fa-angle-down show-for-small-only"></i></h3>
  <ul class="footer-list" style="display: none;">
    <li><a href="https://www.baccredomatic.com/es-cr/banca-personas">Personas</a></li><li><a href="https://www.baccredomatic.com/es-cr/tarjetas/credito" class="active">Tarjetas de Crédito</a></li><li><a href="https://www.baccredomatic.com/es-cr/pymes">PYMES</a></li><li><a href="https://www.baccredomatic.com/es-cr/comercios-afiliados">Afiliados</a></li><li><a href="https://www.baccredomatic.com/es-cr/corporaciones-e-instituciones">Corporaciones </a></li><li><a href="https://www.baccredomatic.com/es-cr/sitemap.xml">Mapa del Sitio</a></li>  </ul>
</div>
              </li>
                                      <li class="accordion-navigation">

<div class="footer-column">
  <h3 class="footer-list-head">Acerca de BAC | CREDOMATIC<i class="right fa fa-angle-down show-for-small-only"></i></h3>
  <ul class="footer-list" style="display: none;">
    <li><a href="https://www.baccredomatic.com/es-cr/nuestra-empresa/historia">Nuestra Historia</a></li><li><a href="https://www.baccredomatic.com/es-cr/nuestra-empresa/mision-vision-y-valores">Misión, Visión y Valores</a></li><li><a href="https://www.baccredomatic.com/es-cr/nuestra-empresa/responsabilidad-social-corporativa">Responsabilidad Social</a></li><li><a href="https://www.baccredomatic.com/es-cr/nuestra-empresa/trabaje-con-nosotros-0">Trabaje con nosotros</a></li>  </ul>
</div>
              </li>
                                      <li class="accordion-navigation">

 <div class="footer-column">
  <h3 class="footer-list-head"> Aplicaciones para Móviles<i class="right fa fa-angle-down show-for-small-only"></i></h3>
  <ul class="footer-mobile-channels" style="display: none;">
    <li><a href="https://www.sucursalmovil.com/secm/index.go"><i class="fa fa-mobile"></i><p>Sucursal Móvil</p></a></li><li><a href="https://itunes.apple.com/cr/developer/bac-credomatic-network/id465180283"><i class="fa fa-phone"></i><p>bac contacto</p></a></li><li><a href="https://itunes.apple.com/cr/app/ibac/id465508552?mt=8"><figure class="footer-img-mobilelogo"><img src="https://www.baccredomatic.com/sites/all/themes/custom/foundation_bac/images/appstore.png" alt="appstore"><figcaption>iBac</figcaption></figure></a></li><li><a href="https://play.google.com/store/apps/details?id=net.bac.sbe.android"><figure class="footer-img-mobilelogo"><img src="https://www.baccredomatic.com/sites/all/themes/custom/foundation_bac/images/googleplay.png" alt="playstore"><figcaption>Banca Móvil</figcaption></figure></a></li>  </ul>
</div>
              </li>
                      </ul>

 <div class="footer-column">
  <div class="follow-us">
    <h3 class="footer-list-head"> SÍGANOS</h3>
    <ul class="footer-sociallinks">
      <li><a href="https://www.facebook.com/somosbac/?fref=ts"><i class="fa fa-facebook"></i></a></li><li><a href="https://twitter.com/SomosBac"><i class="fa fa-twitter"></i></a></li><li><a href="https://www.youtube.com/user/baccredomaticnetwork"><i class="fa fa-youtube"></i></a></li>    </ul>
  </div>
</div>
                                <div class="footer-legals">

<div class="small-12 large-4 columns footer-legals-section">
  <ul class="footer-legalslinks">
    <li><a href="https://www.baccredomatic.com/es-cr/form/4721">Quejas y sugerencias</a></li><li><a href="https://www.baccredomatic.com/es-cr/uso-de-cookies">Cookies</a></li><li><a href="https://www.baccredomatic.com/es-cr/seguridad-en-nuestro-sitio">Seguridad</a></li><li><a href="https://www.baccredomatic.com/es-cr/politica-de-privacidad">Política de privacidad</a></li><li><a href="https://www.baccredomatic.com/es-cr/condiciones-y-terminos-de-uso">Términos y condiciones</a></li>  </ul>
</div>

<div class="small-12 large-8 columns footer-legals-section">
  <span class="footer-legals-legend">
    Todos los derechos reservados. &nbsp;2017 © BAC International Bank  </span>
</div>
            </div>
                  </div>
      </footer>
    </div>
