<header>
  <img src="/images/logo.svg" alt="Bac Credomatic" />
  <div class="top-nav">
    <a id="nuestra-empresa" href="https://www.baccredomatic.com/es-cr/nuestra-empresa">Nuestra Empresa</a>
    <button id="country-selector">Costa Rica</button>
    <ul id="country-selector-menu">
      <li class="es-cr">
        <a href="https://www.baccredomatic.com/es-cr" class="country">Costa Rica</a>
      </li>
      <li class="es-sv">
        <a href="https://www.baccredomatic.com/es-sv" class="country">El Salvador</a>
      </li>
      <li class="es-ni">
        <a href="https://www.baccredomatic.com/es-ni" class="country">Nicaragua</a>
      </li>
      <li class="es-hn">
        <a href="https://www.baccredomatic.com/es-hn" class="country">Honduras</a>
      </li>
      <li class="es-gt">
        <a href="https://www.baccredomatic.com/es-gt" class="country">Guatemala</a>
      </li>
      <li class="es-pa">
        <a href="https://www.baccredomatic.com/es-pa" class="country">Panamá</a>
      </li>
      <li class="es-mx">
        <a href="https://www.baccredomatic.com/es-mx" class="country">México</a>
      </li>
    </ul>
    <ul class="tabs">
        <li>
          <a href="https://www.baccredomatic.com/es-cr/banca-personas" class="active-trail active">Personas</a>
        </li>
      <li>
        <a href="https://www.baccredomatic.com/es-cr/tarjetas/credito">Tarjetas de Crédito</a>
      </li>
      <li>
        <a href="https://www.baccredomatic.com/es-cr/pymes">PYMES</a>
      </li>
      <li>
        <a href="https://www.baccredomatic.com/es-cr/comercios-afiliados">Afiliados</a>
      </li>
      <li>
        <a href="https://www.baccredomatic.com/es-cr/corporaciones-e-instituciones">Corporaciones</a>
      </li>
    </ul>
  </div>
  <%= partial "partials/original/main-nav" %>
</header>
