<div class="hero">
  <picture>
    <source srcset="<%= current_page.data.hero_image_mobile %>" media="(max-width: 640px)">
    <img srcset="<%= current_page.data.hero_image_desktop %>" alt="<%= current_page.data.hero_image_alt %>">
  </picture>
  <div class="hero-text">
    <h2></h2>
    <div class="featured-block-maintext show-for-medium-up">
    </div>
    <div class="featured-block-maintext show-for-small-only">
      Nuestras tarjetas tienen beneficios para todas las necesidades. ¿Cuál es la suya?
    </div>
  </div>
  <div class="hero-button">
    <%= link_to "Solicitala aquí", 'https://www.baccredomatic.com/es-cr/tarjetas/credito/solicitud', :onClick => "ga('send', 'event', 'lp tarjetas - 2017 v2', 'Solicitar', 'Hero');" %>
  </div>
</div>
