.filters-container {
  background: $blanco;
  padding-top: 5px;
  padding-bottom: 10px;
  @include animacion-default;
  overflow: hidden;
  //max-height: 100px;

  @include grid-media($desktop-grid) {
    padding-top: 30px;
    padding-bottom: 20px;
    border-top: solid 1px $gris-claro;
    overflow: visible;
  }
}

.filters-content {
  max-width: 1260px;
  margin: 0 auto;
}

.filter-row {
  @include grid-container;
}

.category-filters {
  //@include grid-column(4);
}

.filter-item {
  box-sizing: border-box;
  color: $gris-mas-oscuro;
  border: solid 1px $gris-bordes;
  padding: 13px 13px 13px 80px;
  height: auto;
  cursor: pointer;
  font-size: 10px;
  margin-bottom: 10px;
  position: relative;
  background: $blanco;
  border-radius: 3px;

  &.active {
    border: solid $rojo2 1px;
    box-shadow: 1px 3px 8px 0px rgba(90, 90, 90, 0.10);
  }

  //@include grid-column(12);

  @include grid-media($tablet-vertical-grid) {
    //@include grid-column(6);
  }

  @include grid-media($tablet-wide-grid) {
    font-size: 12px;
    height: 50px;
    padding: 20px;
  }

  .bigger {
    font-weight: bold;
  }

  img {
    display: block;
    margin-right: 20px;
    height: 35px;
    float: left;
    position: absolute;
    left: 13px;
    top: 10px;

    @include grid-media($tablet-wide-grid) {
      position: static;
      height: auto;
      margin-top: -8px;
    }
  }

  &:hover {
    border: solid 1px $rojo2;
    color: #000;
    box-shadow: 1px 7px 13px 0px rgba(50, 50, 52, 0.16);
  }

  &:active {
    box-shadow: 1px 7px 13px 0px rgba(50, 50, 52, 0.10);
    transform: translateY(4px);
  }
}

.filter-title {
  @include grid-column(12);
  color: $gris-mas-oscuro;

  h2 {
    margin: 0 0 10px 0;
    font-size: 20px;
    line-height: 20px;
    font-weight: bold;
    @include animacion-default;

    @include grid-media($tablet-wide-grid) {
      font-size: 25px;
      line-height: 25px;
    }
  }

  p {
    font-size: 13px;
    margin: 0 0 20px 0;
    font-weight: 400;
    @include animacion-default;

    @include grid-media($tablet-wide-grid) {
      font-size: 15px;
      margin: 0 0 20px 0;
    }
  }
}

.inicial {
  @include grid-media($tablet-wide-grid) {
    padding-top: 60px;
    padding-bottom: 20px;
  }

  h2 {
    @include grid-media($tablet-wide-grid) {
      font-size: 40px;
      line-height: 40px;
      margin-bottom: 10px;
    }
  }

  .filter-title p {
    @include grid-media($tablet-wide-grid) {
      font-size: 20px;
      margin: 0 0 50px 0;
    }
  }
}

.filter-item {
  overflow: hidden;
}

.category-filters {

  .filter-item {
    @include grid-column(6);

    @include grid-media($tablet-wide-grid) {
      @include grid-column(12);
    }
  }
}

.benefit-filters {
  @include grid-container;

  .filter-item {
    @include grid-column(6);
    height: 100px;
    margin-bottom: 30px;

    @include grid-media($tablet-wide-grid) {
      @include grid-column(4);
    }
  }
}

.filter-item-image-container {
  float: left;

  img {
    display: block;
  }
}

.filter-item-title-container {
  float: left;

  span {
    font-size: 22px;
    clear: both;
    display: block;
    font-weight: bold;
  }
}

.filters-outer-container {
  position: relative;
}

#nav-icon {
    width: 10px;
    height: 12px;
    position: absolute;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
    bottom: 100%;
    right: 0;
    margin: 0 20px;

    @include grid-media($tablet-wide-grid) {
      display: none;
    }

    span {
        display: block;
        position: absolute;
        height: 2px;
        width: 10px;
        background: #58595b;
        border-radius: 9px;
        opacity: 1;
        left: 0;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .25s ease-in-out;
        -moz-transition: .25s ease-in-out;
        -o-transition: .25s ease-in-out;
        transition: .25s ease-in-out;
        -webkit-transform-origin: left center;
        -moz-transform-origin: left center;
        -o-transform-origin: left center;
        transform-origin: left center;

       &:nth-child(1) {
          bottom: 8px;
        }

        &:nth-child(2) {
          bottom: 4px;
        }

        &:nth-child(3) {
          bottom: 0px;
        }
    }
}

#css-toggle-menu {
    position: absolute;
    bottom: 100%;
    right: 0;
    display: none;
}

.ver-mas-beneficios-btn {
  text-align: center;
  margin-bottom: 10px;
}
