.filters-container {
  background: $blanco;
  padding-top: 5px;
  padding-bottom: 10px;
  @include animacion-default;
  overflow: hidden;
  //max-height: 100px;

  @include grid-media($desktop-grid) {
    padding-top: 30px;
    padding-bottom: 20px;
    border-top: solid 1px $gris-claro;
    overflow: visible;
  }
}

.filters-content {
  max-width: 1260px;
  margin: 0 auto;
}

.filter-row {
  @include grid-container;
}

.category-filters {
  //@include grid-column(4);
}

.benefit-filters{
  display: none;
}

.filter-item {
  box-sizing: border-box;
  color: $gris-mas-oscuro;
  border: solid 1px $gris-bordes;
  padding: 13px;
  height: auto;
  cursor: pointer;
  font-size: 10px;
  margin-bottom: 10px;
  position: relative;
  background: $blanco;
  border-radius: 3px;

  &.active {
    border: solid $rojo2 1px;
    box-shadow: 1px 3px 8px 0px rgba(90, 90, 90, 0.10);
  }

  @include grid-column(6);

  @include grid-media($tablet-vertical-grid) {
    @include grid-column(12);
  }

  @include grid-media($tablet-wide-grid) {
    font-size: 12px;
    height: 50px;
    padding: 20px;
  }

  &:hover {
    border: solid 1px $rojo2;
    color: #000;
    box-shadow: 1px 7px 13px 0px rgba(50, 50, 52, 0.16);
  }

  &:active {
    box-shadow: 1px 7px 13px 0px rgba(50, 50, 52, 0.10);
    transform: translateY(4px);
  }
}

.filter-title {
  @include grid-column(12);
  color: $gris-mas-oscuro;

  h2 {
    margin: 0 0 20px 0;
    font-size: 20px;
    line-height: 20px;
    font-weight: bold;
    @include animacion-default;

    @include grid-media($tablet-wide-grid) {
      font-size: 25px;
      line-height: 25px;
    }
  }

  p {
    font-size: 13px;
    margin: 0 0 20px 0;
    font-weight: 400;
    @include animacion-default;

    @include grid-media($tablet-wide-grid) {
      font-size: 15px;
      margin: 0 0 20px 0;
    }
  }
}

.inicial {
  @include grid-media($tablet-wide-grid) {
    padding-top: 60px;
    padding-bottom: 20px;
  }

  h2 {
    @include grid-media($tablet-wide-grid) {
      font-size: 40px;
      line-height: 40px;
      margin-bottom: 10px;
    }
  }

  .filter-title p {
    @include grid-media($tablet-wide-grid) {
      font-size: 20px;
      margin: 0 0 50px 0;
    }
  }
}

.filter-item-image-container {
  float: left;
  width: 20%;
  position: relative;
  padding-top: 20%;

  img {
    max-width: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
}

.filter-item-title-container {
  float: left;
  padding-left: 13px;
  box-sizing: border-box;
  width: 80%;

  span {
    font-size: 14px;
    clear: both;
    display: block;
    font-weight: bold;
  }
}

.filters-outer-container {
  position: relative;
}

.ver-mas-beneficios-btn {
  text-align: center;
  margin-bottom: 20px;
  padding: 0 20px;

  input {
    display: none;
  }

  label {
    border: solid 1px $rojo;
    color: $rojo;
    display: block;
    width: 100%;
    background: #fff;
    padding: 5px;
  }
}
