.filters-container {
  //background: $gris-claro;
  background: #fafafa;
  padding-top: 60px;
  padding-bottom: 60px;
  margin-bottom: 40px;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fafafa+0,f1f1f1+100 */
  background: #fafafa; /* Old browsers */
  background: -moz-linear-gradient(top, #fafafa 0%, #f1f1f1 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #fafafa 0%,#f1f1f1 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #fafafa 0%,#f1f1f1 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#f1f1f1',GradientType=0 ); /* IE6-9 */
}

.filters-content {
  max-width: 1260px;
  margin: 0 auto;
}

.filter-row {
  @include grid-container;
}

.filter-item {
  @include grid-column(3);
}

.filter-title {
  @include grid-column(12);
  //text-transform: uppercase;
  color: $gris-mas-oscuro;

  h2 {
    margin: 0 0 10px 0;
    font-size: 40px;
    line-height: 40px;
    font-weight: bold;
  }

  p {
    font-size: 20px;
    margin: 0 0 20px 0;
    font-weight: 400;
  }
}
