body{
  font-family: $graphik;
  font-size: 14px;
  font-weight: normal;
  z-index: 0;
  margin: 0;
  background: $gris-fondo;
}

.main-wrapper {
  @include grid-media($desktop-grid){
    max-width: 1260px;
    margin: 0 auto;
    overflow: hidden;
  }
}

.error404 {
  margin: 60px 0 80px;
}

iframe {
  height: 0;
  display: none;
}
