//estilos para el hamburger main-navigation-menu

.navigation-container {
  overflow: hidden;
  position: relative;

  @include grid-media($desktop-grid) {
    overflow: visible;
  }

  input[type=checkbox] {
    display: block;
    position: absolute;
    right: 100%;
    top: 0;

    &:checked ~ #hamburger-icon {
      display: none;
    }
    &:checked ~ #x-icon {
      display: block;
    }
    &:checked ~ #main-navigation {
      display: table;
    }
    @include grid-media($desktop-grid) {
      display: none;
    }
  }

  .show-menu {
    background: $gris-claro;
    border-bottom: solid 1px $blanco;
    box-sizing: border-box;
    color: $dorado;
    display: block;
    float: left;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 20px;
    font-weight: bold;
    padding: 10px 20px;
    position: relative;
    text-decoration: none;
    width: 100%;

    &::after {
      position: absolute;
      top: 0;
      right: 20px;
      height: 100%;
      width: 30px;
      margin-right: 20px;
      color: $dorado;
      line-height: 2em;
    }
      @include grid-media($desktop-grid) {
        display: none;
      }
  }
}
#hamburger-icon {
  //display: none;
  $icon-size: 20px;
  width: $icon-size;
  height: 45px;
  position: absolute;
  top: 15px;
  right: 20px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
  span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background: $dorado;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
  }
  span:nth-child(1) {
    top: 0px;
  }

  span:nth-child(2) {
    top: 7px;
  }

  span:nth-child(3) {
    top: 14px;
  }
}
#x-icon {
  position: absolute;
  top: 5px;
  right: 22px;
  display: none;
  font-size: 2em;
  line-height: 1em;
  color: #E60000;
  font-weight: bold;
}

header {
  @include grid-container;
  position: relative;
}
.header-first-row {
  @include grid-container;
  margin-bottom: 20px;
  .main-logo {
    @include grid-column(12);
    margin-top: 2em;
    @include grid-media($desktop-grid){
      @include grid-column(5);
    }
  }
  .top-nav {
    display: none;
    @include grid-column(5);
    @include grid-push(2);
    position: relative;
    text-align: right;
    font-size: 0.8em;
    float: right;
    a {
      color: $dorado;
      text-decoration: none;
    }
    @include grid-media($desktop-grid){
      display: block;
      margin-top: 3px;
    }
  }
  #nuestra-empresa, #country-selector {
    border-right: solid 1px $azul;
    padding: 0 15px;
  }
  #country-selector {
    background: #fff;
    border: 0;
    color: $dorado;
    cursor: pointer;
  }
  #country-selector-menu {
    position: absolute;
    top: 1em;
    border: solid 1px $dorado;
    padding: 10px 5px 10px 7px;
    box-sizing: border-box;
    width: 100%;
    background: #fff;
    list-style: none;
    text-align: left;
    display: none;
    li {
      display: inline-block;
      width: 32%;
      margin: 0;
      padding: 5px;
      box-sizing: border-box;
      a {
        border: solid 1px $dorado;
        text-align: center;
        width: 100%;
        display: block;
        padding: 5px 0;
        font-size: 1.2em;
      }
    }
  }
  .tabs-nav {
    list-style: none;
    border: solid 1px $gris-claro;
    border-bottom: 0;
    text-align: left;
    margin: 30px 0 0 0;
    padding: 5px;
    display: inline-block;
    font-weight: bold;
    li {
      display: inline-block;
      margin: 5px 10px;
      &:nth-child(2) > a {
        color: $rojo;
        text-decoration: underline;
      }
    }
    a {
      color: $azul-oscuro;
      font-size: 1em;
      font-family: "Trebuchet MS","Lucida Grande","Lucida Sans","Tahoma","sans-serif";
      text-transform: uppercase;
    }
  }
}
#main-navigation {
  display: none;
  width: 100%;
  z-index: 100;
  @include grid-media($desktop-grid) {
    display: table;
  }
}
#main-navigation-menu {
  display: block;
  list-style: none;
  padding: 0;
  background: $gris-claro;
  width: 100%;
  box-sizing: border-box;
  float: left;
  margin: 0;
  @include grid-media($desktop-grid) {
    display: table-row;
    float: none;
    border-bottom: 0;
  }
  li {
    border-bottom: 1px solid #fff;
    position: relative;
    &:after {
      content: ">";
      position: absolute;
      top: 0;
      right: 0;
      margin: 12px 20px;
      display: block;
      color: $dorado;
      font-weight: bold;
      @include grid-media($desktop-grid) {
        display: none;
      }
    }
    @include grid-media($desktop-grid) {
      display: table-cell;
      border-right: 1px solid #fff;
      max-width: 14%;
      position: relative;
      z-index: 99;
      border-bottom: 0;
      &:last-child{
        border-right: 0;
        .second-level-menu{
          left: auto;
          right: 0;
        }
      }
    }
    ul{
      @include grid-media($desktop-grid) {
        z-index: -1;
      }
    }
    ul.second-level-menu, ul.third-level-menu {
      display: none;
    }
  }
  a {
    text-transform: uppercase;
    text-decoration: none;
    color: $dorado;
    font-weight: bold;
    font-size: 16px;
    justify-content: space-between;
    font-family: "Trebuchet MS","Lucida Grande","Lucida Sans","Tahoma","sans-serif";
    padding: 12px 20px;
    display: block;
    cursor: pointer;
  }
  @include grid-media($desktop-grid) {
    li{
      a{
        background: $gris-oscuro;
        display: block;
        text-align: center;
        padding: 8px 30px;
        color: #fff;
        font-size: 0.8em;
        text-decoration: none;
        font-weight: 400;
        font-family: 'Helvetica';
        &:hover {
          text-decoration: underline;
          background: #fff;
          color: $rojo2;
        }
        &:hover ~ ul.second-level-menu {
          display: block;
        }
      }
    }
    ul.second-level-menu {
      display: none;
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      min-width: 212px;
      height: auto;
      border-bottom: $gris-oscuro 10px solid;
      padding: 0 0 10px 0;
      background: #fff;
      -webkit-box-shadow: 0px 3px 5px 1px rgba(0,0,0,0.22);
      -moz-box-shadow: 0px 3px 5px 1px rgba(0,0,0,0.22);
      box-shadow: 0px 3px 5px 1px rgba(0,0,0,0.22);
      li {
        display: block;
        padding:0;
        width: 100%;
        max-width: 100%;
        position: relative;
      }
      a {
        background: none;
        color: $gris-oscuro;
        text-align: left;
        padding: 6px 20px;
        &:hover{
          background: $rojo2;
          color: #fff;
          text-decoration: none;
        }
      }
      .has-sub-items:after {
        content: ">";
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        width: 15px;
        color: $gris-oscuro;
        line-height: 1.5em;
      }
      li.has-sub-items:hover:after {
        color: #fff;
      }
    }
  }
}
#sucursal-link {
  background: $azul-oscuro;
  color: #fff;
  font-weight: bold;
  width: 236px;
  height: 35px;
  text-align: left;
  padding: 10px;
  font-size: 11.2px;
  text-transform: uppercase;
  display: inline-block;
  box-sizing: border-box;
  position: relative;

  &:after {
    content: ">";
    position: absolute;
    top: 10px;
    right: 10px;
    font-weight: bold;
  }

}
