.logo-header {
  text-align: left;
  padding: 20px 20px 5px;
  background: #fff;
  box-sizing: border-box;
  width: 100%;

  @include grid-media($desktop-grid) {
    height: auto;
    padding: 30px 0;
    text-align: center;
  }

  img {
    width: 45%;
    @include grid-media($desktop-grid) {
      width: auto;
    }
  }
}
