.card-row {

  display: none;

  .card-list {
    @include grid-container;

    list-style: none;
    margin: 0;
    padding: 0;
  }

  .card {
    @include grid-column(12);

    @include grid-media($tablet-vertical-grid){
      @include grid-column(6);
      &:nth-child(3) {
        clear: left;
      }
    }
    @include grid-media($tablet-wide-grid){
      @include grid-column(4);
      &:nth-child(3) {
        clear: none;
      }
      &:nth-child(4) {
        clear: left;
      }
    }
    @include grid-media($desktop-grid){
      @include grid-column(3);
      &:nth-child(4) {
        clear: none;
      }
      &:nth-child(5) {
        clear: left;
      }
    }
    background: $gris-claro;
    box-sizing: border-box;
    display: block;
    padding: 15px 25px;
    text-align: center;
    margin-bottom: 18px;
  }

  h2 {
    color: $gris-mas-oscuro;
    font-family: $graphik;
    font-size: 30px;
    margin: 0 0 1em;
    padding: 0;
    text-align: center;
    display: block;
  }

  h3 {
    color: $gris-mas-oscuro;
    display: inline-block;
    font-family: 'Helvetica Neue',Helvetica,Roboto,Arial,sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: normal;
    line-height: 1.4;
    margin: 0;
  }

  h4 {
    color: $gris-mas-oscuro;
    line-height: 1.4;
    margin: 0;
    text-align: center;
  }

  .card-image {
    user-select: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  }

  img {
    border-radius: 8px;
    box-shadow: 2px 0 4px 0 $shadow-color;
    display: block;
    margin: 0 auto;
    max-width: 100%;
    user-select: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  }

  p {
    color: $gris-mas-oscuro;
    font-family: $graphik;
    font-size: .86em;
    font-weight: normal;
    text-align: left;
  }

  .oneliner {
    color: $gris-oscuro;
    font-size: 1.3em;
    font-weight: bold;
    line-height: 1.2;
    margin: 10px 0;
    font-family: $graphik;
  }

  a {
    color: $rojo2;
    display: block;
    font-size: 0.86em;
    font-weight: 400;
    margin: 15px 0 10px;
    text-align: center;
    text-decoration: none;
  }

  .ir-a-product-page {
    display: block;
    text-align: left;
    color: $azul;
    margin-top: 20px;
  }

  .btn {
    background: $rojo;
    color: $blanco;
    display: block;
    font-weight: bold;
    margin: 0;
    margin-top: 15px;
    padding: 10px 0;
    text-align: center;
    text-decoration: none;
    box-shadow: 0px 1px 4px 0 $shadow-color;
    user-select: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);

    &:hover {
      box-shadow: 0px 2px 3px 0 $shadow-color;
    }

    &:active {
      transform: translateY(4px);
      box-shadow: 1px 3px 3px 0px rgba(50, 50, 52, 0.2);
    }
  }

  .btn-ghost {
    border: solid 1px $rojo;
    padding-bottom: 8px;
    padding-top: 8px;
    user-select: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);

    &:active {
      transform: translateY(4px);
      box-shadow: 1px 3px 3px 0px rgba(50, 50, 52, 0.2);
    }
  }
}

.title-line {
  @include grid-column(12);
  margin-bottom: 25px;
  text-align: center;

  h2 {
    margin-bottom: 0;
  }

  @include grid-media($tablet-wide-grid){
    text-align: left;
  }
  @include grid-media($desktop-grid){
    text-align: left;
  }
}

.mas-info-btn {
  &:before {
    content: "Ver ";
  }
  &:after {
    content: " aquí";
  }

  &.open {
    &:before {
      content: "Ocultar ";
    }
    &:after {
      content: "";
    }
  }
}

.mas-info-container {
  overflow: hidden;
  max-height: 0;
  transition: max-height .5s ease;

  &.open {
    max-height: 100vh;
  }
}

.beneficios {
  text-align: left;

  h3 {
    text-align: left;
    color: $gris-oscuro;
    font-size: 1.2em;
    font-weight: bold;
    margin: 15px 0;
  }

  ul {
    list-style: disc;
    padding-left: 15px;
  }

  li {
    margin: 0 0 10px;
    padding: 0;
    color: $gris-oscuro;
  }
}
