<div class="tabs-secondary">
  <div class="container">
    <h2 class="title-secondary">Beneficios Exclusivos</h2>
    <a role="presentation" href="#clasica-1" aria-controls="clasica-1" role="tab" data-toggle="tab"  class="active"><img src="/images/logo-mastercard.png" alt="" /></a>
    <a role="presentation" href="#clasica-2" aria-controls="clasica-2" role="tab" data-toggle="tab" ><img src="/images/logo-amex.png" alt="" /></a>
    <a role="presentation" href="#clasica-3" aria-controls="clasica-3" role="tab" data-toggle="tab" ><img src="/images/logo-visa.png" alt="" /></a>
    <div class="tabs-inner-content">
      <div role="tabpanel" class="tab-pane active" id="clasica-1">
        <img class="pull-left" src="/images/logo-mastercard.png" alt="" />
        <ul class="pull-left">
          <li><p>2x1 en Cinépolis <br />(Martes, Jueves &amp; Viernes)</p></li>
        </ul>
      </div>

      <div role="tabpanel" class="tab-pane" id="clasica-2">
        <img class="pull-left" src="/images/logo-amex.png" alt="" />
        <ul class="pull-left">
          <li><p>3x1 en Cinépolis <br />(Martes, Jueves &amp; Viernes)</p></li>
        </ul>
      </div>

      <div role="tabpanel" class="tab-pane" id="clasica-3">
        <img class="pull-left" src="/images/logo-visa.png" alt="" />
        <ul class="pull-left">
          <li><p>4x1 en Cinépolis <br />(Martes, Jueves &amp; Viernes)</p></li>
        </ul>
      </div>
    </div>
  </div>
</div>
