<div class="col-xs-12 col-sm-6 col-sm-push-1 info">
  <h2>información clave</h2>
  <p>Explora toda la información adicional sobre las tarjetas Cashback</p>
  <ul class="list" id="select-links">
    <% unless producto.reglamento.nil? %><li><a href="<%= producto.reglamento %>" class="icon-small icon-paper" target="_blank">Ver Reglamento</a></li><% end %>
    <li><a href="<%= data.links.folleto_informativo %>" class="icon-small icon-download active">Descargar el Folleto Explicativo</a></li>
    <% unless producto.comerciosAfiliados.nil? %><li><a href="<%= producto.comerciosAfiliados %>" class="icon-small icon-pin" target="_blank">Comercios Afiliados</a></li><% end %>
    <li><a href="<%= data.links.recomiende_un_amigo %>" class="icon-small icon-user" target="_blank">Recomendá a un amigo</a></li>
  </ul>
</div>
