<div class="filters-container">
  <div class="filters-content">
    <div class="filter-row">
      <div class="filter-title">
        <h2>Elegí tu beneficio favorito</h2>
      </div>
    </div>
    <div class="filter-row">
      <div class="filter-item">
        I'm a filter
      </div>
      <div class="filter-item">
        I'm a filter
      </div>
      <div class="filter-item">
        I'm a filter
      </div>
      <div class="filter-item">
        I'm a filter
      </div>
    </div>
  </div>
</div>
