<div class="filters-container">
  <div class="filters-content">
    <div class="filter-row">
      <div class="filter-title">
        <h2>Elegí tu beneficio favorito</h2>
        <p>Y descubrí cuales tarjetas tarjetas lo tienen</p>
      </div>
    </div>
    <div class="filter-row">
      <div class="filter-item">
        Supermercados
      </div>
      <div class="filter-item">
        Viajes
      </div>
      <div class="filter-item">
        Cashback
      </div>
      <div class="filter-item">
        Otras
      </div>
    </div>
  </div>
</div>
