<div class="filters-container">
  <div class="filters-content">
    <div class="filter-row">
      <div class="filter-title">
        <h2>Elegí tu beneficio favorito</h2>
        <p>Y descubrí cuales tarjetas lo tienen</p>
      </div>
    </div>
    <div class="filter-row">
      <div class="filter-item" data-category="supermercados">
        <%= image_tag 'cr-icono-supermercado.svg' %>
        Tarjetas para<br/>
        <span class="bigger">Supermercados</span>
      </div>
      <div class="filter-item" data-category="viajes">
        <%= image_tag 'cr-icono-viajes.svg' %>
        Tarjetas para<br/>
        <span class="bigger">Viajes</span>
      </div>
      <div class="filter-item" data-category="cashback">
        <%= image_tag 'cr-icono-cashback.svg' %>
        Tarjetas de<br/>
        <span class="bigger">Cashback</span>
      </div>
      <div class="filter-item" data-category="otras">
        <%= image_tag 'cr-icono-otras.svg' %>
        Otras<br/>
        <span class="bigger">Tarjetas</span>
      </div>
    </div>
  </div>
</div>
