<li  class="filter-item">
  <a href="<%= link.url %>" target="_blank">
    <%= image_tag "/images/splash/#{link.icono}", :width => "65" %>
    <span class="bigger"><%= link.titulo %></span>
  </a>
</li>
