<header>
  <div class="header-container">
    <div class="hamburger-container">
      <div class="hamburger">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>

    <div class="explora-mas-header">
      <a href="javascript:void(0);" class="arrow-btn" id="explora-mas-header-btn">Explorá más productos</a>
    </div>

    <div class="logo">
      <img src="/images/cr-landing-logo-bac-382x35px-blanco.svg" alt="BAC | Credomatic" />
    </div>
    <div class="search">
      <div class="search__circle"></div>
      <div class="search__rectangle"></div>
    </div>
    <div class="search-form">
      <form id="search-form" action="#" >
        <input type="text" name="busqueda" value="" placeholder="Buscar..." />
        <!-- <input type="submit" value="Buscar" /> -->
      </form>
    </div>
  </div>
</header>
