<header>
  <div class="header-container">
    <div class="hamburger-container">
      <div class="hamburger">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
    <div class="logo">
      <img src="/images/logo-blanco.svg" alt="BAC | Credomatic" />
    </div>
    <div class="search">
      <form id="search-form" action="#" >
        <input type="text" name="busqueda" value="Buscar..." />
        <input type="button" value="Buscar" />
      </form>
    </div>
  </div>
</header>
