<div class="hero">
  <div class="hero-sizer"></div>
  <div class="hero-text-container">
    <h3><span>TARJETA BLUE</span> American Express<sup>®</sup> de Credomatic</h3>
    <a href="https://www.baccredomatic.com/es-cr/tarjetas/credito/personas/cashback/tarjeta-blue" class="hero-button" onclick="ga('send', 'event', '<%=  data.splash.event_category %>', 'hero', 'blue');">Más información</a>
  </div>
</div>
