---
layout: revision
title: Mensaje enviado
---
<p><strong>Gracias por su mensaje</strong>. Ya recibimos la información y le estaremos notificando cuando esté listo</p>
<a href="/<%= producto.titulo.parameterize %>.html"><< Volver a la página de la tarjeta <%= producto.titulo %></a>
