<section class="banner">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-7">
        <h2>¿Aún no sabes cual es la más indicada?</h2>
        <h3>Solicita ayuda a uno de nuestros asesores.</h3>
      </div>
      <div class="col-xs-12 col-md-5">
        <a href="" class="btn btn--green" target="_blank">Contacta a un asesor</a>
        <a href="<%= data.links.folleto_informativo %>" class="btn btn--white" target="_blank">Descargar Info</a>
      </div>
    </div>
  </div>
</section>
