<section class="banner">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-7">
        <h2>¿Ya sabés cuál es la tuya?</h2>
        <h3>Solicitala ahora mismo por nuestro formulario en línea</h3>
      </div>
      <div class="col-xs-12 col-md-5">
        <a href="<%= data.links.solicitud_general %>" class="btn btn--green" target="_blank">Solicitala ahora</a>
        <a href="<%= data.links.folleto_informativo %>" class="btn btn--white" target="_blank">Descargar Info</a>
      </div>
    </div>
  </div>
</section>
