<section class="feature" id="section-beneficios">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h2>tarjetas credomatic</h2>
        <h3>Beneficios &amp; Ganantías</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-3">
        <article class="icon-section ic1">
          <h4>Vivamus sagittis lacus vel</h4>
          <p>Augue laoreet rutrum faucibus dolor auctor. Maecenas faucibus mollis interdum. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>
        </article>
      </div>
      <div class="col-xs-12 col-sm-6  col-md-3">
        <article class="icon-section ic2">
          <h4>Vivamus sagittis lacus vel</h4>
          <p>Augue laoreet rutrum faucibus dolor auctor. Maecenas faucibus mollis interdum. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>
        </article>
      </div>
    </div>

  </div>
</section>
