<section class="feature" id="section-beneficios">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h2>tarjetas credomatic</h2>
        <h3>Beneficios &amp; Garantías</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-3">
        <article class="icon-section ic1">
          <h4>Amplia red de pagos</h4>
          <p>Podés pagar tu tarjeta desde tu celular, computadora o en cualquiera de nuestro cientos de puntos de pago.</p>
        </article>
      </div>
      <div class="col-xs-12 col-sm-6  col-md-3">
        <article class="icon-section ic2">
          <h4>Facilidades de crédito</h4>
          <p>No te quedés con el antojo y compra con Tasa 0, Mini cuotas o Extrafinanciamiento</p>
        </article>
      </div>
    </div>

  </div>
</section>
