<div class="row section-container-1 hero">
  <div class="container hero-content">
    <div class="row">
      <div class="col-xs-12 col-sm-7 col-md-5 left-col-top">
        <h1><%= current_page.data.hero.title %></h1>
        <p class="hero-copy"><%= current_page.data.hero.text %></p>
        <div class="cta-group">
          <a href="#section-tarjetas">TARJETAS</a>
          <a class="cta-white" href="#section-beneficios">BENEFICIOS</a>
        </div>
        <br/>
        <p class="hero-post"><small>¿Estás buscando otros productos de BAC|Credomatic?<br/><a href="https://www.baccredomatic.com/es-cr/tarjetas/credito" target="_blank" class="hero-inline-link">Hacé click aquí</a></small></p>

        <img class="visible-xs hero-media" src="/assets/cards-mobile.png" alt=""  />
      </div>
      <div class="col-xs-5 col-sm-5 col-md-5 col-md-push-1">
        <div class="cards-line"></div>
      </div>
    </div>
  </div>
</div>
