<div class="nav-holder">
  <div class="nav-wrap" >
    <div class="row" id="section-tarjetas">
      <div class="main-logo-container">
        <img class="main-logo" src="/images/logo.svg"/>
      </div>
      <div class="header-text-container">
        <p class="middle-cont1-p">Encontrá abajo la Tarjeta de Crédito más adecuada</p>
      </div>
    </div>
    <div class="visible-xs">

      <div class="container">
        <div class="tab-active-mobile pull-left">
          <i class="icon-small icon-dollar"></i>
          <span>Cashback </span>
        </div>
        <button type="button" class="nav-wrap-btn">
          <span class="line"></span>
        </button>
      </div>
    </div>
    <nav class="nav-cards">
      <div class="container">
        <div class="nav">
          <ul>
            <li>
              <a href="#section-1">
                <i class="icon-small hidden-sm icon-dollar"></i>
                Cashback
              </a>
            </li>
            <li>
              <a href="#section-2">
                <i class="icon-small hidden-sm icon-bag"></i>
                Supermercados
              </a>
            </li>
            <li>
              <a href="#section-3">
                <i class="icon-small hidden-sm icon-airplane"></i>
                Viajes
              </a>
            </li>
            <li>
              <a href="#section-4">
                <i class="icon-small hidden-sm icon-tag"></i>
                Promocionales
              </a>
            </li>
            <li>
              <a href="#section-5">
                <i class="icon-small hidden-sm icon-diamond"></i>
                Estilos de vida
              </a>
            </li>
          </ul>
        </div>

      </div>
    </nav>
  </div>
</div>
