.hero {
  width: 100%;
  background: url(../images/cr-landing-hero-blue-movil.png);
  position: relative;
  background-repeat: no-repeat;
  background-size: 100% auto;

  @include grid-media($desktop-grid){
    background: url(../images/cr-landing-hero-image-blue.png);
    background-size: 100% auto;
  }
}

.hero-sizer {
  width: 100%;
  padding-bottom: 48%;
  @include grid-media($desktop-grid){
    padding-bottom: 14.6%;
  }
}

.hero-button {
  display: inline-block;
  padding: 8px 10px;
  background: $rojo2;
  color: $blanco;
  text-decoration: none;
  @include grid-media($desktop-grid){
    position: absolute;
    left: 72.5%;
    bottom: 15%;
  }
}
.hero-text-container {
  width: 50%;
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  color: $blanco;
  padding-left: 30px;
  padding-top: 10px;

  @include grid-media($desktop-grid){
    width: 100%;
    height: 100%;
    box-sizing: border-box;
  }

  h3 {
    font-size: 14px;
    @include grid-media($desktop-grid){
      font-size: 1.4em;
      max-width: 10em;
      position: absolute;
      right: 70%;
      top: 12%;
    }
  }

  span {
    display: block;
    font-size: 16px;
    @include grid-media($desktop-grid){
      font-size: 1.4em;
    }
  }
}
