.hero {
  width: 100%;
  background: url(../images/cr-landing-hero-blue-movil.png);
  height: 175px;
  position: relative;

  @include grid-media($desktop-grid){
    background: url(../images/cr-landing-hero-image-blue.png);
    height: 211px;
  }
}
.hero-button {
  display: inline-block;
  padding: 8px 10px;
  background: $rojo2;
  color: $blanco;
  text-decoration: none;
  @include grid-media($desktop-grid){
    position: absolute;
    right: 0;
    margin-top: -3em;
  }
}
.hero-text-container {
  width: 50%;
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  color: $blanco;
  padding-left: 30px;
  padding-top: 10px;

  @include grid-media($desktop-grid){
    width: 1100px;
    margin: 0 auto;
    float: none;
    position: relative;
    padding-top: 30px;
  }

  h3 {
    font-size: 14px;
    @include grid-media($desktop-grid){
      font-size: 1.4em;
      max-width: 10em;
    }
  }

  span {
    display: block;
    font-size: 16px;
    @include grid-media($desktop-grid){
      font-size: 1.4em;
    }
  }
}
